$background1:linear-gradient(to bottom, #ffffff 18%, #861A1A 15% 30%, #ffffff 30%);
$background:linear-gradient(to bottom, #861A1A 15%, #000000 15% 20%, #ffffff 20%);
$primaryCol: #e7f3ff ;
$fontColOriental: #484444 ;
$fontStyleOriental: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$fontAll:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$fontSec: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$light-color:#746d6d;
$danger-color: red;
$success-color: green;
$border-color: #0A70D9;
$headCol: #004992;